<!--
 * @Author: your name
 * @Date: 2021-03-02 23:43:29
 * @LastEditTime: 2021-03-03 00:19:24
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /20200908/app/view/from.html
-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>晒出我的国庆KPI</title>
		<script src="/public/default/js/rem.min.js"></script>
		<script src="/public/default/js/vue.js"></script>
		<link rel="stylesheet" href="/public/default/css/from.css" />
	</head>
	<body>
		<div class="contBg">
			<img src="/public/default/img/from.png" />
		</div>
		<div class="content" id="app">
				<div class="box" v-for="(item,index) in list">
					<div class="box-left" @click="onCk(index)">
						<!-- <Checkbox v-if="item.ck == false " /> -->
						<!-- <img v-if="item.ck == true" src="/public/default/img/cks.png" />	 -->
						
						<img :src="item.ck == true ? cks : ck " />	
					</div>
					<div class="box-right">
						<img :src="item.img" :data-url='item.img' />
					</div>
				</div>
				<textarea class="textarea" id="myVal" placeholder="请输入你的国庆KPI(30字以内)" maxlength="30"></textarea>
				<div class="bottom">
					<div class="btn" @click="onshow()">
						<img src="/public/default/img/bottom.png" />
					</div>
				</div>
				<div class="shareBg" onclick="onhide()">
					<img src="/public/default/img/shareBg.png" />
				</div>
			</div>
	</body>
	<script src="/public/default/js/jquery-3.5.1.min.js"></script>
	<script>
// 		function onshow() {
// 			debugger
// 			let a = localStorage.getItem("key");
// 			let val = $("#myVal").val();
// 			if(val){
// 				val = val?val:''
// 			}
// 			localStorage.setItem("dVal", val);
// 			
// 			
// 			document.getElementsByClassName('shareBg')[0].style.display = "block";
// 		}
// 
// 		function onhide() {
// 			document.getElementsByClassName('shareBg')[0].style.display = "none";
// 		}
	</script>
		<script>
			new Vue({
				el: '#app',
				data: { 
					ck:"/public/default/img/ck.png",
					cks:"/public/default/img/cks.png",
					index:0,
					list: [{
						img:"/public/default/img/01.png",
						ck:true
					},{
						img:"/public/default/img/02.png",
						ck:false
					},{
						img:"/public/default/img/03.png",
						ck:false
					},{
						img:"/public/default/img/04.png",
						ck:false
					}]
				},
				methods: {
				 onCk(index){
					 let list = this.list;
					 let ck = false;
					 for(let i = 0; i<list.length;i++){
						 list[i].ck = false
					 }
					 list[index].ck = true
					 this.index = index
					 this.list = list
				 },
				 onshow(){
					let a = localStorage.getItem("key");
					let val = $("#myVal").val();
					if(val){
						val = val?val:this.index
					}
					localStorage.setItem("dVal", val);
					
					window.location.href="/share";
				 }
					
				},
			})
		</script>
	
</html>
