<!--
 * @Author: your name
 * @Date: 2021-03-02 21:22:48
 * @LastEditTime: 2021-03-02 22:18:13
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /20200908/app/view/home.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/public/default/js/rem.min.js"></script>
    <link  rel="stylesheet" href="/public/default/css/home.css"  />
</head>
<body>
    <div class="content">
        <div class="content-left">
            <img src="/public/default/img/arrow-left.png"/>
        </div>
        <div class="content-right">
            <img src="/public/default/img/arrow-right.png"/>
        </div>
        <div class="content-box">
            <!-- <img src="/public/default/img/border.png"/> -->
        </div>
        <div class="bottom">
            <img src="/public/default/img/bottom-btn.png"/>
        </div>
    </div>
</body>
</html>