<!--
 * @Author: your name
 * @Date: 2021-03-01 22:51:27
 * @LastEditTime: 2021-03-03 00:29:32
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /20200908/app/view/index.html
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>开始合拍</title>
		<script src="/public/default/js/rem.min.js"></script>
		<link rel="stylesheet" href="/public/default/css/index.css" />
	</head>
	<body>
		<div>
		<!-- 	<img id='play' class="play" src="/public/default/img/play.png" />
			<img id='pause' class="pause" src="/public/default/img/pause.png" style="display: none;" /> -->
			<img class="homeBg" src="/public/default/img/homeBg.png" />
			<div class="buttonStart" onclick="window.location.href='/home'">
				<img src="/public/default/img/shootingButs.png" />
			</div>
		</div>
	</body>
	<script src="/public/default/js/jquery-3.5.1.min.js"></script>
	<!-- <script src="../public/default/js/playMusic.js"></script> -->
</html>
