<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title></title>
		<script src="/public/default/js/rem.min.js"></script>
		<script src="/public/default/js/vue.js"></script>
		<link rel="stylesheet" href="/public/default/css/photograph.css" />
	</head>
	<body>
		<div id="contLi">
			<img class="homeBg" src="/public/default/img/divbg.png" />
			<div class="cont" id="app">
				<div class="mycanvasBg"></div>
				<div class="mycanvas" id="myCanvas">
					<div class="addNewImg" :class="layerIndex == index ? 'addNewImgBorder' : '' " @click="onClicklayerIndex(index)" v-for="(item,index) in contList" :style="{zIndex:(index)}">
						<div v-if="layerIndex == index">
							<img class="close" src="/public/default/img/close.png" @click="closeImg(index)" />
							<div class="operation">
								<div @click="upImg(index)"><span>上一层</span></div>
								<div @click="dwImg(index)"><span>下一层</span></div>
							</div>
						</div>
						<img class="mobileImg" :src="item" />
					</div>
				</div>
				<div class="slider">
					<div class="buttonStart">
						<img class="btn" src="/public/default/img/shootingBut.png" onclick="clickBt()" />
						<img src="/public/default/img/shootingBg.png" />
					</div>
					<div class="sliderTitle">
						<div @click="onClickImg('b')" :class="activeClass =='b' ? 'active':''"><img :src="activeClass =='b' ? '/public/default/img/renwus.png':'/public/default/img/renwu.png'" /></div>
						<div @click="onClickImg('c')" :class="activeClass =='c' ? 'active':''"><img :src="activeClass =='c' ? '/public/default/img/maomis.png':'/public/default/img/maomi.png'" /></div>
					</div>
					<div class="sliderCont">
						<div class="sliderContAvt"  :class=" activeClass =='b' ? 'widthR':'widthG'">
							<div class="sliderContListA" v-if="activeClass == 'b'" v-for="item in listB" :style="{background:(item)}">
								<img :src="item" @click="onAddImg(item)" :data-url='item' />
							</div>
							<div class="sliderContListA" v-if="activeClass == 'c'" v-for="item in listC" :style="{background:(item)}">
								<img :src="item" @click="onAddImg(item)" :data-url='item' />
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</body>
	<script src="/public/default/js/jquery-3.5.1.min.js"></script>
	<script src="/public/default/js/html2canvas.min.js"></script>
	<script>
		var oW, oH;
		
		$('#contLi').on('touchstart', '.addNewImg', function(e) {
			var touches = e.touches[0];
			oW = touches.clientX - this.offsetLeft;
			oH = touches.clientY - this.offsetTop;
			//阻止页面的滑动默认事件
			document.addEventListener("touchmove", defaultEvent, false);
		})

		$('#contLi').on('touchmove', '.addNewImg', function(e) {
			var touches = e.touches[0];
			var oLeft = touches.clientX - oW;
			var oTop = touches.clientY - oH;
			if (oLeft < 0) {
				oLeft = 0;
			} else if (oLeft > document.documentElement.clientWidth - e.offsetWidth) {
				oLeft = (document.documentElement.clientWidth - e.offsetWidth);
			}

			this.style.left = oLeft + "px";
			this.style.top = oTop + "px";
		})

		$('#contLi').on('touchend', '.addNewImg', function(e) {
			document.removeEventListener("touchmove", defaultEvent, false);
		})

		function defaultEvent(e) {
			// e.preventDefault();
		}
		
		// 开始截图
		function clickBt(){
			// debugger
			html2canvas(document.querySelector("#contLi")).then(canvas => {
				document.body.appendChild(canvas)
			});
			window.location.href="/from";
		}
	</script>
	<script>
		new Vue({
			el: '#app',
			data: {
				lent: 0,
				activeClass: 'b',
				listA: ['#CFB20D', '#922C38', '#D62E1F', '#38526C'],
				listB: ['/public/default/img/pet6.png','/public/default/img/pet7.png','/public/default/img/pet8.png','/public/default/img/pet9.png','/public/default/img/pet10.png','/public/default/img/pet11.png','/public/default/img/pet12.png','/public/default/img/pet13.png'],
				listC: ['/public/default/img/pet1.png','/public/default/img/pet2.png','/public/default/img/pet3.png','/public/default/img/pet4.png','/public/default/img/pet5.png'],
				contList: [],
				layerIndex: 0
			},
			methods: {
				onClickImg(e) {
					this.activeClass = e;
				},
				onAddImg(item) {
					this.contList.push(item)
					layerIndex = this.contList.length
				},
				closeImg(index) {
					this.contList.splice(index, 1);
				},
				upImg(index) {
					if (index !== this.contList.length -1) {
						this.contList = this.swapItems( this.contList, index, index + 1)
					}
				},
				dwImg(index) {
					 if (index !== 0) {
						this.contList = this.swapItems( this.contList, index, index - 1)
					}
				},
				swapItems: function(arr, index1, index2) {
					arr[index1] = arr.splice(index2, 1, arr[index1])[0];
					return arr;
				},
				onClicklayerIndex(index) {
					this.layerIndex = index
				},
				
			},
		})
	</script>
</html>
